<%= form_for(@video_content) do |f| %>
  <% if @video_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video_content.errors.count, "error") %> prohibited this video_content from being saved:</h2>

      <ul>
      <% @video_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :videoUrl %><br>
    <%= f.text_field :videoUrl %>
  </div>
  <div class="field">
    <%= f.label :createdBy %><br>
    <%= f.text_field :createdBy %>
  </div>
  <div class="field">
    <%= f.label :script %><br>
    <%= f.text_area :script %>
  </div>
  <div class="field">
    <%= f.label :lastUpdated %><br>
    <%= f.datetime_select :lastUpdated %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
