<p id="notice"><%= notice %></p>

<h1>Listing Video Contents</h1>

<table>
  <thead>
    <tr>
      <th>Videourl</th>
      <th>Createdby</th>
      <th>Script</th>
      <th>Lastupdated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @video_contents.each do |video_content| %>
      <tr>
        <td><%= video_content.videoUrl %></td>
        <td><%= video_content.createdBy %></td>
        <td><%= video_content.script %></td>
        <td><%= video_content.lastUpdated %></td>
        <td><%= link_to 'Show', video_content %></td>
        <td><%= link_to 'Edit', edit_video_content_path(video_content) %></td>
        <td><%= link_to 'Destroy', video_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video content', new_video_content_path %>
